<div class="contact">
  
  <section>
    <h2>Impressum</h2>
    <p>
      Max Mustermann<br />
      Musterstraße 123<br />
      12345 Musterstadt<br />
      Deutschland<br />
      <br />
      Hinweis: Dies ist ein nicht-kommerzielles Studienprojekt der IU
      Internationale Hochschule. Die Inhalte dienen ausschließlich
      Demonstrationszwecken.
    </p>

    <h2>Kontakt</h2>
    <p>
        Du hast Fragen? Vielleicht findest du in den <a href="/web/fragments/faq.fragment.html">FAQs</a> wonach du suchst.
        Wurdest du nicht fündig, oder hast du ein anderes Anliegen? Wende dich bitte an 
        <a href="mailto:max@quizprojekt.de">max@quizprojekt.de</a>
      </p>
    </p>
  </section>
</div>
