<bq:fragment :name="head-section" h1="Impressum" p="Ein Blick dahinter" image="hero"></bq:fragment>

<div class="contact">
  
  <section>
    <h2>Kontakt</h2>
    
    <p>
      Hinweis: Dies ist ein nicht-kommerzielles Studienprojekt der IU
      Internationale Hochschule. Die Inhalte dienen ausschließlich
      Demonstrationszwecken.
    </p>

    <p>
      Du hast Fragen?<br> 
      Vielleicht findest du in den <a href="/help">FAQs</a> wonach du suchst.<br>
      Wurdest du nicht fündig oder hast du ein anderes Anliegen?<br> Wende dich bitte an 
      <a href="mailto:info@myquiz-iu.org">info@myquiz-iu.org</a>
    </p>
  </section>
</div>
