<div class="hero">
  <picture>
    <source type="image/webp" srcset="/img/hero.jpg?type=webp&width=256 256w, /img/hero.jpg?type=webp&width=512 512w, /img/hero.jpg?type=webp&width=1024 1024w, /img/hero.jpg?type=webp&width=2048 2048w" sizes="100vw">
    <img decoding="async" lazy="false" class="background" src="/img/hero.jpg">
  </picture>
  <div>
    <div class="hero--headline-1">Teste dein Können!</div>
    <div class="hero--headline-2">Sei der Allerbeste!</div>
    <div class="call-to-action">
      <a href="/game">
        <button href="/game">Spielen!</button>
      </a>
      <button class="--alternate">FAQ</button>
    </div>
  </div>
</div>