<div class="hero">
  <picture>
    <source
      type="image/webp"
      srcset="
        /img/hero/home.webp?type=webp&width=256   256w,
        /img/hero/home.webp?type=webp&width=512   512w,
        /img/hero/home.webp?type=webp&width=1024 1024w,
        /img/hero/home.webp?type=webp&width=2048 2048w
      "
      sizes="100vw"
    />
    <img decoding="async" lazy="false" class="background" src="/img/hero/home.webp" />
  </picture>
  <div>
    <div class="hero--headline-1">
      Willkommen bei qUIz – Deine smarte Prüfungsvorbereitung
    </div>
    <div class="hero--headline-2">
      Teste dein Wissen, verbessere dich spielerisch und lerne gemeinsam mit
      anderen.
    </div>
    <div class="call-to-action">
      <a href="/game">
        <button href="/game">Spielen!</button>
      </a>
      <button class="--alternate">FAQ</button>
    </div>
  </div>
</div>
