<bq:fragment :name="hero"></bq:fragment>

<section id="home">
  <h2>Was ist qUIz?</h2>
  <p>qUIz ist eine webbasierte Quiz-App für IU-Studierende, die dir hilft, dich
    gezielt und motiviert auf Prüfungen vorzubereiten. Ob allein oder im
    Multiplayer-Modus – Lernen wird zum Spiel!</p>
  
  <ul class="no-bullets">
    <li><i class="icon chevron-right-solid"></i>  Themenbasiertes Quizsystem.</li>
    <li><i class="icon chevron-right-solid"></i>  Direkte Auswertung & Erklärungen.</li>
    <li><i class="icon chevron-right-solid"></i>  Fortschrittsanzeige & Leaderboards.</li>
  </ul>
  <h2>So einfach geht’s:</h2>
  <ul>
    <li><i class="icon chevron-right-solid"></i>  Spiel auf <a href="setup">Game</a> konfigurieren.</li>
    <li><i class="icon chevron-right-solid"></i>  Modul, Lektion, Spielmodus und Menge der Fragen auswählen.</li>
    <li><i class="icon chevron-right-solid"></i>  Fragen beantworten, Fortschritte verfolgen.</li>
    <li><i class="icon chevron-right-solid"></i>  Gemeinsam besser werden.</li>
  </ul>
</section>
