<bq:fragment :name="hero"></bq:fragment>

<section class="intro">
  <h1>Was qUIz ist?</h1>
  <p>
    qUIz ist eine webbasierte Quiz-App für IU-Studierende. Sie dir hilft, dich
    gezielt und motiviert auf Prüfungen vorzubereiten. Ob allein oder im
    Multiplayer-Modus – Lernen wird zum Spiel!
  </p>
  <ul class="no-bullets">
    <li>✅ Themenbasiertes Quizsystem</li>
    <li>✅ Direkte Auswertung & Erklärungen</li>
    <li>✅ Fortschrittsanzeige & Leaderboards</li>
  </ul>
  <h2>So einfach geht’s:</h2>
  <ol>
    <li>
      <a href="/setup">Account erstellen/ LogIn</a>
    </li>

    <li>Quiz-Modus wählen (Einzel oder Multiplayer)</li>
    <li>Fragen beantworten, Fortschritte verfolgen</li>
    <li>Gemeinsam besser werden</li>
  </ol>
</section>
