<bq:fragment :name="head-section" h1="Leaderboard" p="Sei der aller Beste!" image="hero"></bq:fragment>

<div class="leaderboard">
  <h2 class="leaderboard--heading">🏆 Top Spieler</h2>

  <div class="leaderboard--category">
    <bq:for each="leaderboard" as="player">
      <div class="leaderboard--entry">
        <div class="leaderboard--place">
          <bq:show when="@i == 0">🥇</bq:show>
          <bq:show when="@i == 1">🥈</bq:show>
          <bq:show when="@i == 2">🥉</bq:show>
          <bq:show when="@i > 2">{{ @i | add }}</bq:show>
        </div>
        <div class="leaderboard--name">{{ player.user_name }}</div>
        <div class="leaderboard--wins">{{ player.wins }} Siege</div>
        <div class="leaderboard--score">{{ player.score }} Punkte</div>
      </div>
    </bq:for>
  </div>
</div>

