<bq:fragment :name="head-section" h1="Leaderboard" p="Sei der aller Beste!" image="hero"></bq:fragment>

<section>

  <table>
    <thead>
      <tr>
        <th>- Platz -</th>
        <th>- Spieler -</th>
        <th>- Gewonnen -</th>
        <th>- Score -</th>
      </tr>
    </thead>
    <tbody>

      <bq:for each="leaderboard" as="player">
        <tr>
          <th>{{ @i | add }}</th>
          <th>{{ player.user_name }}</th>
          <th>{{ player.wins}}</th>
          <th>{{ player.score }}</th>
        </tr>
      </bq:for>
      
    </tbody>
  </table>

  
  
</section>