<div class="privacy-policy">
  
  <section>
    <p>
      <strong>Kontakt:</strong><br />
      E-Mail: max@quizprojekt.de<br />
    </p>
    <p>Verantwortlich für den Inhalt nach §55 Abs.2 RStV: Max Mustermann</p>
  </section>

  <section>
    <h2>Datenschutzerklärung</h2>
    <p>
      Der Schutz Ihrer persönlichen Daten ist uns ein besonderes Anliegen. Wir
      verarbeiten Ihre Daten daher ausschließlich auf Grundlage der gesetzlichen
      Bestimmungen (DSGVO, TMG).
    </p>

    <h3>Kontakt mit uns</h3>
    <p>
      Wenn Sie per Formular oder E-Mail Kontakt mit uns aufnehmen, werden Ihre
      Angaben zwecks Bearbeitung gespeichert. Diese Daten geben wir nicht ohne
      Ihre Einwilligung weiter.
    </p>

    <h3>Cookies</h3>
    <p>
      Unsere Website verwendet keine Cookies zur Analyse. Lediglich technisch
      notwendige Cookies können gesetzt werden (z.B. für Login).
    </p>

    <h3>Ihre Rechte</h3>
    <p>
      Ihnen stehen grundsätzlich die Rechte auf Auskunft, Berichtigung,
      Löschung, Einschränkung, Datenübertragbarkeit und Widerspruch zu.
    </p>
  </section>
</div>
