<bq:fragment :name="head-section" h1="Review" p="Wiederholen und Bewerten" image="hero"></bq:fragment>

<section id="review">

  <bq:for each="review" as="module">
    <h2>
      <span>{{ module.name }}</span>
      <i>{{ module | length }}</i>
    </h2>
    <bq:for each="module" as="q"> 

      <details class="{{ q.correct }}">
        <summary>
          <i class="icon chevron-down-solid"> </i>
          <h3>
            <span>{{ q.answers }}</span>
          </h3>
        </summary>
        <div>
          <ul>
            <bq:for each="q.answers" as="answer">
              <li>{{ answer }}</li>
            </bq:for>
          </ul>

          <form class="icon-radio" method="POST" action="/rating:{{ q.id }}">
            <label>
              <bq:show when="{{ q.voted }}">
                <input type="radio" name="vote" value="1" onchange="this.form.submit()" />
              </bq:show>
                <i class="icon thumbs-up-solid" ></i>
            </label>

            <label>
              <bq:show when="{{ !q.voted }}">
                <input type="radio" name="vote" value="0" onchange="this.form.submit()"/>
              </bq:show>
              <i class="icon thumbs-down-solid" ></i>
            </label>
          </form>
        </div>  

    </bq:for>
  </bq:for>

</section>