<div class="search">
              
  <form data-replace="{{ data-replace }}" data-select="{{ data-select }}" data-remove="{{ data-remove }}" data-append="{{ data-append }}">
    <input value="{{ @query.q }}" data-trigger="input" data-delay="500" name="q" type="search" placeholder="Suchbegriff eingeben ...">
    
    <i class="icon magnifying-glass-solid"></i>

    <span>
      <button name="q" type="reset" class="icon xmark-solid"></button>
    </span>

    <div class="search--categories">
  
    </div>
    <bq:children></bq:children>
  </form>

</div>