<bq:fragment :name="head-section" h1="Konfiguration" p="Stelle dein Spiel nach deinen Bedürfnissen ein!" image="hero"></bq:fragment>

<section id="setup">
  <form action="/setup" method="POST">

    <div>
      <label for="module" required>Modul:</label>
      <select name="module" required>
        <bq:for each="modules" as="name">
          <option value="{{ name }}">{{ name }}</option>
        </bq:for>
      </select>
    </div>
  
    <div>
      <label for="lection" required>Lektion:</label>
      <select name="lection">
        <option value="0">Alle</option>
        <bq:for each="lections" as="number">
          <option value="{{ number }}">{{ number }}</option>
        </bq:for>
      </select>
    </div>
  
    <div>
      <label for="amount">Anzahl:</label>
      <input type="number" name="amount" min="3" max="5" step="1"  autocomplete="off" required/>
    </div>
  
    <div>
      <label for="mode" required>Modus:</label>
      <select name="mode" required>
        <option value="Mehrspieler" disabled>Mehrspieler</option>
        <option value="Einzelspieler">Einzelspieler</option>
      </select>
    </div>
  </form>
</section>