<bq:fragment :name="head-section" h1="Sitemap" p="Aufbau der Seite" image="hero"></bq:fragment>

<section>
  <h1>Seitenübersicht</h1>
  <ul>
    <li><a href="/login">Login</a></li>
    <ul>
      <li><a href="/">Startseite</a></li>
      <li><a href="/logout">Logout</a></li>
      <li><a href="/game">Game</a></li>
      <ul>
        <li><a href="/setup">Setup</a></li>
        <li><a href="/session">Session</a></li>
        <li><a href="/result">Result</a></li>
      </ul>
      <li><a href="/upload">Upload</a></li>
      <li><a href="/leaderboard">Leaderboard</a></li>
      <li><a href="/review">Review</a></li>
      <li><a href="/help">Hilfe</a></li>
      <li><a href="/contact">Impressum</a></li>
      <li><a href="/legal">Haftungsausschluss</a></li>
      <li><a href="/privacy-policy">Datenschutz</a></li>
    </ul>
  </ul>
</section>

