@font-face {
  font-family: 'icon';
  font-display: block;
  src: url('/styles/fonts/icomoon.woff') format('woff');
}

.icon {
  font-family: 'icon' !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon.bars-solid:before { content: '\e918'; }
.icon.calendar-check-solid:before { content: '\e917'; }
.icon.cart-shopping-solid:before { content: '\e916'; }
.icon.certificate-solid:before { content: '\e915'; }
.icon.chevron-down-solid:before { content: '\e914'; }
.icon.chevron-left-solid:before { content: '\e913'; }
.icon.chevron-right-solid:before { content: '\e912'; }
.icon.comments-solid:before { content: '\e911'; }
.icon.diamond-turn-right-solid:before { content: '\e910'; }
.icon.envelope-solid:before { content: '\e90f'; }
.icon.globe-solid:before { content: '\e90e'; }
.icon.globe:before { content: '\e90e'; }
.icon.leaf-solid:before { content: '\e90c'; }
.icon.location-arrow-solid:before { content: '\e90b'; }
.icon.location-crosshairs-solid:before { content: '\e90a'; }
.icon.location-dot-solid:before { content: '\ea14'; }
.icon.location-dot:before { content: '\ea15'; }
.icon.location-guitar:before { content: '\ea16'; }
.icon.magnifying-glass-solid:before { content: '\e909'; }
.icon.pause-solid:before { content: '\e908'; }
.icon.phone-solid:before { content: '\e907'; }
.icon.play-solid:before { content: '\e906'; }
.icon.shop-solid:before { content: '\e905'; }
.icon.sliders-solid:before { content: '\e904'; }
.icon.wrench-solid:before { content: '\e903'; }
.icon.xmark-solid:before { content: '\e902'; }
.icon.thumbs-up-solid:before { content: '\e901'; }
.icon.thumbs-down-solid:before { content: '\e900'; }
